div .error{
    color : red;
    font-size: 80%;
}

input {
    width: 100%;
}

.react-datepicker-wrapper{
    width: 100%;
}

#completed-message {
    color: green;
    font-size: 80%;
}

#pending-message{
    color: red;
    font-size: 80%;
}


thead, tbody{
    text-align: center;
}

thead {
    background-color: rgb(245, 255, 245);
}
/*.react-datepicker-wrapper input {
    width: 100%;
}*/

